body {
    background-color: black;
    color: #eeeeee;
}

h1 {
    padding-top: 20px;
    font-family: 'Righteous';
}

#race {
    position: absolute;
    left: 5px;
}

#data {
    position: absolute;
    width: 590px;
    height:700px;
    overflow: auto;
    right: 20px;
}

#fastestLap {
    font-family: 'Montserrat', sans-serif;
}

#lapName, #mapName {
    font-family: 'Archivo', sans-serif;
}

table {
    font-family: 'Archivo', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    text-align: left;
    padding: 4px;
    text-align: left;
}

th {
    background-color: #880e4f;
}
  
tr:hover {
    background-color:#ec407a;
    color: black;
}

  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */