#race {
    position: absolute;
    left: 5px;
}

#data {
    position: absolute;
    width: 600px;
    height:700px;
    overflow: auto;
    right: 20px;
}

#fastestLap {
    font-family: 'Montserrat', sans-serif;
}

#lapName, #mapName {
    font-family: 'Open Sans', sans-serif;
}

table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    text-align: left;
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #d1c4e9;
}
  
tr:hover {background-color:#ede7f6;}

  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */